spring:
  application:
    name: identity.service
  datasource:
    url: jdbc:h2:mem:identitydb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

app:
  crypto:
    aeskeyBase64: HYFxrt3ZasXfohnd/CK60jUa74X+R0RYfEEw2CaKmjE=
